@{
    ViewData["Title"] = "Rekenmachine";
}

<h2>Index</h2>

<div><a href="/Home/Bereken" class="btn btn-primary">Rekenmachine</a></div>
<p></p>
<div><a href="/Home/NaamOmgekeerd" class="btn btn-primary">Keer een naam om</a></div>